*{
    margin:auto;
}

div.boite1{
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-Global-v2.png);
    background-size: cover;
    height: 100vh;
}

div.top-bar{
    display:flex;
}
ul.nav{
    display:flex

}

div.top-content{
    display:flex;
    flex-direction: column;
    height: 100%;
 }
    
ul.nav li{
    list-style-type: none;
    margin: 5px;
}

ul.nav li a{
    color: white;
    outline: none;
    
}
